<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="card" id="manage-team-card">
  <div class="card-body">
    <h4 class="card-title">Teams</h4>
    <button class="btn btn-secondary m-1" id="manage-teams">
      <span class="fas fa-cog"></span>
      Teams verwalten
    </button>
    <button class="btn btn-primary m-1" id="create-team" data-toggle="modal" data-target="#create-team-modal">
      <span class="fa fa-plus"></span>
      Team anlegen
    </button>
  </div>
</div>

<!-- create team modal -->
<div class="modal fade" id="create-team-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Team erstellen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="#">
          <label for="principal">Mandant:</label>
          <select name="principal" class="form-control principal-selection">
          </select>
          <label for="name">Name:</label>
          <input type="text" class="form-control" name="name">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Abbrechen
        </button>
        <button type="button" class="btn btn-primary save" disabled>
          <span class="fa fa-save"></span>
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>
